.card {
  position: relative;
  width: 340px;
  height: 340px;
  display: flex;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.card-title {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  max-width: 58%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  color: white;
  height: 52px;
  left: 20px;
  top: 250px;
  text-shadow: -1px -1px 0 #000, /* Ombre en haut à gauche */ 1px -1px 0 #000,
    /* Ombre en haut à droite */ -1px 1px 0 #000,
    /* Ombre en bas à gauche */ 1px 1px 0 #000; /* Ombre en bas à droite */
}
