.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liens {
  display: flex;
  gap: 20px;
  a {
    color: black;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
  }
  a:hover,
  a:active {
    text-decoration-line: underline;
  }
}

.navbar__logo img {
  width: 210px;
  height: auto;
}
